body {
	margin: 0;
	background-color: LightCoral;
}

ul {
	background-color: DarkGrey;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: Peru;
	font-size: 40pt;
	color: LightSkyBlue;
	width: 100%;
}

header h3 {
	margin-left: .5em;
}

main {
	height: 100%;
}

main h2 { /* Main page intro text */
	display: block;
	width: 80%;
	margin-left: 10%;
	text-align: center;
}

.Menu-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 14pt;
	width: 700px;
	margin-right: 1.44em;
}

.Menu-item {
	font-family: sans;
	align-self: flex-end;
}

.Teacher-list {
	font-size: 14pt;
	font-family: sans;
	width: 80%;
	margin-left: 10%;
}

div.Teacher-list ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

ul.Teacher-list { /* search by School/Subject */
	list-style-type: none;
}

.Teacher-list ul li {
	color: white;
	padding-top: .2em;
	padding-bottom: .75em;
}

.Namesearch-list {
	width: 80%;
	margin-left: 10%;
	background-color: LightGray;
	height: 100%;
}

.Namesearch-list input {
	width: 50%;
	height: 2em;
	font-size: 16pt;
	margin: 3em 0 0 25%;
}

.error {
	background-color: red;
	color: black;
	font-size: 10pt;
	font-family: monospace;
	padding: 1em;
	margin: 3em 2.5em 0 2.5em;
}

